<div class="deck-container-body col-sm-12">
    <!-- Lodash.range() used to create a dummy array -->
    <ng-container *ngFor="let number of lodash.range(4); let i=index">
        <!-- <div *ngIf="i!=selectedIndex">
            <app-card-container class="card-{{i}}">
            </app-card-container>
        </div>
        <div *ngIf="i==selectedIndex">
            <app-card-container class="card-{{i}} card-selected" [componentIndex]=selectedIndex>
            </app-card-container>
        </div> -->
        <!-- Using ng-container to avoid divs -->
        <ng-container *ngIf="i!=selectedIndex">
            <app-card-container class="card-{{i}}">
            </app-card-container>
        </ng-container>
        <ng-container *ngIf="i==selectedIndex">
            <app-card-container class="card-{{i}} card-selected" [componentIndex]=selectedIndex>
            </app-card-container>
        </ng-container>
    </ng-container>

    <!-- <div *ngFor="let card of cards; let i = index">
        <app-card-container class="card-{{i}}" [componentIndex]=i>
        </app-card-container>
    </div>

    <app-card-container class="card-{{selectedIndex}}" [componentIndex]=selectedIndex>
    </app-card-container> -->

    <!-- <app-card-container class="card-0">
        <app-login></app-login>
    </app-card-container>
    <app-card-container class="card-1">
        <b>Calendar</b>
    </app-card-container>
    <app-card-container class="card-2">
        <b>To Do</b>
    </app-card-container>
    <app-card-container class="card-3">
        <b>About Us</b>
    </app-card-container> -->
</div>
