<div class="deck-container-body col-sm-12">
    <div *ngFor="let card of cards; let i = index">
        <app-card-container class="card-{{i}}" [componentIndex]=i>
            <!-- {{card | dynamicComponent}} -->
            <ng-template appCard></ng-template>
            <!-- <app-login></app-login> -->

            <!-- "<" + {{card}} + "></ " + {{card}} + ">" -->
            <!-- {{< card ></ card >}} -->
        </app-card-container>
    </div>


    <!-- <app-card-container class="card-0">
        <app-login></app-login>
    </app-card-container>
    <app-card-container class="card-1">
        <b>Calendar</b>
    </app-card-container>
    <app-card-container class="card-2">
        <b>To Do</b>
    </app-card-container>
    <app-card-container class="card-3">
        <b>About Us</b>
    </app-card-container> -->
</div>
