<div>
    Days: {{noOfDays}}
    Month: {{monthName}}
    Year: {{year}} 
    Today: {{today}}
    Temp: {{temp}}
    First Day: {{firstDayDate}}
    LastDay: {{lastDayDate}}
</div>
<!-- {{noOfDays}} -->
<!-- table-striped table-hover -->
<table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col" class="col-md-1">Mon</th>
        <th scope="col" class="col-md-1">Tue</th>
        <th scope="col" class="col-md-1">Wed</th>
        <th scope="col" class="col-md-1">Thu</th>
        <th scope="col" class="col-md-1">Fri</th>
        <th scope="col" class="col-md-1">Sat</th>
        <th scope="col" class="col-md-1">Sun</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>