<div>
    Days: {{noOfDays}}
</div>
<!-- {{noOfDays}} -->
sdfdaf
<table class="table table-hover table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col" class="col-md-1">Monday</th>
        <th scope="col" class="col-md-1">Tuesday</th>
        <th scope="col" class="col-md-1">Wednesday</th>
        <th scope="col" class="col-md-1">Thursday</th>
        <th scope="col" class="col-md-1">Friday</th>
        <th scope="col" class="col-md-1">Saturday</th>
        <th scope="col" class="col-md-1">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>